:root{
    --app-bg: #eee;

    --nav-primary: rgb(68,6,6);
    --nav-accent: #eee;
    --nav-hover: #888;

    --dice-face:#111;
    --dice-accent: #ddd;
    --dice-font: #eee;

}

body{
    background-color: var(--app-bg);
}

/*NAVBAR STYLES *******************************************************************************/
nav{
    background-color: var(--nav-primary);
    overflow: auto;
    color: var(--nav-accent, white);
    border-bottom: 2px solid var(--nav-hover);
}
.nav-wrapper{
    width: 80vw;
    margin: auto;
    display: flex;
    overflow: hidden;
}
.nav-menu{
    align-self: center;
    margin-left: auto;
}
.nav-menu-items li{
    float: left;
    list-style-type: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 16px;
}
.nav-menu-items li:hover{
    color: var(--nav-hover);
}
nav h1 {
    font-size: 2rem;
    margin: 8px;
}

.slide-menu{
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--nav-primary);
    color: var(--nav-accent);
    transition-duration: .5s;
}
.slide-menu ul {
    overflow: hidden;
}
.slide-menu li{
    font-size: 1.1rem;
    list-style: none;
    margin: 16px;
    border-bottom: 1px solid #11111155;
    cursor: pointer;
}
.slide-menu li:hover{
    color: var(--nav-hover);
}

.slide-hide{
    right: -200px;
    overflow: hidden;
    transition-duration: 0.5s;
    word-wrap: none;
}

/* DICE STYLES ****************************************************************************/
.dice-deck{
    width: 100%;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}
.dice-card{
    display: inline-block;
    margin: 4px;
    width: 100px;
    height: auto;
    overflow: hidden;
}
.dice-face{
    position: relative;
    background-color: var(--dice-face);
    color: var(--dice-font);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 8px;
}
.dice-text{
    text-align: center;
}

/*Dice Creation Styles **************************************************************************/
.curtain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #111111ee;
    display:flex;
    /*align-items: center;*/
    justify-content: center;
    color: var(--dice-font);
    padding-top: 10vh;
}

.user-input{
    display: flex;
    flex-direction: column;
    color: var(--dice-font);
}

.user-input input{
    margin-bottom: 8px;
}
.button-cancel-x{
    font-size: 1.5rem;
    cursor: pointer;
}
.button-cancel-x:hover{
    color: var(--nav-hover);
}

/* Special Event Banner Style *****************************************************************/
.special-banner {
    position: fixed;
    top: 0vh;
    left: 0;
    right: 0;

    width: 80vw;

    border-radius: 10px;
    background-color: var(--dice-face);
    font-size: 1.1rem;
    color: var(--dice-font);
    margin: 8px auto;
    padding: 16px;

}
.close-specialbanner{
    cursor: pointer;
}
.close-specialbanner:hover{
    color: var(--nav-hover);
}

/* MEDIA QUERY ********************************************************************************/
@media screen and (max-width: 400px){
    .nav-wrapper{
        flex-direction: column;
    }
    .logo-wrapper{
        margin: 8px auto;
    }
    .nav-menu{
        margin: 8px auto;
    }
}

@media screen and (max-width: 250px){

    .dice-deck{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .dice-card{
        margin: 8px auto;
    }
}

@media screen and (max-width: 210px){
    html, body, .dice-deck, .nav-wrapper{
        min-width: 200px;
    }
}